

<main class="main">
  <div class="content">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="formFile" class="form-label">Upload file example</label>
            <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
            <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
          </div>
          @if (fileUploaded){
            <br/>
            <div class="mb-3">
              <button (click)="this.getCompletedTraining(fileJson)" type="button" class="btn btn-primary mt-3">Get Completed Training</button>
              @if (completedTrainingUrl){
                <a [href]="completedTrainingUrl" download="completedTraining.txt">Download File</a>
              }
            </div>
            <br/>
            <div class="mb-3">
              <button (click)="this.getCompletedInFiscalYear(this.fileJson,['Electrical Safety for Labs', 'X-Ray Safety', 'Laboratory Safety Training'],2024)" type="button" class="btn btn-primary mt-3">Get Completed In Fiscal Year 2024</button>
              @if (completedFYUrl){
                <a [href]="completedFYUrl" download="completedFY.txt">Download File</a>
              }
            </div>
            <br/>
            <div class="mb-3">
              <button (click)="this.getExpiredTraining(this.fileJson, '10/1/2023')" type="button" class="btn btn-primary mt-3">Get Expired</button>
              @if (expiredTrainingUrl){
                <a [href]="expiredTrainingUrl" download="expiredTraining.txt">DownloadFile</a>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
